.creations {
  position: relative;
  width: 100%;
  margin-top: 100px;
  height: 610px;
  @media (max-width: 992px) {
    height: 690px;
  }
  @media (max-width: 576px) {
    height: 750px;
  }
}

.creations-container {
  position: relative;
  width: 90%;
  height: 100%;
  
  margin-left: 10%;
  background-color: #f6f2ef;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 992px) {
    width: 90%;
    margin: auto;
    flex-direction: column;
    padding-top: 60px;
    height: 100%;
  }

  
}

.creations-item {
  border: solid 1px black;
  height: 300px;
  width: 350px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  &:hover .creations-img {
    transform: translate(-50%, -75%);
  }
  @media (max-width: 992px) {
    height: 250px;
    width: 300px;
  }
}

.creations-img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 350px;
  transform: translate(-50%, -70%);
  transition: 500ms ease-in-out;
  z-index: 2;

  & img {
    height: 100%;
    width: 100%;
  }
  @media (max-width: 992px) {
    height: 250px;
    width: 300px;
  }
}

.creations-name {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}
