.presentation {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 70px;
  background-color: white;
  overflow: hidden;
  font-family: "Varela", sans-serif;
  & h2 {
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    width: 95%;
    color: $color-primary;
    position: relative;
    transform: scale(250);
    margin: auto;
    margin-bottom: 50px;
    z-index: 2;
    @media (max-width: 657px) {
      transform: scale(1) translatey(0px);
      font-size: 3em;
    }
  }
  & span {
    font-size: 2em;
  }
}

.unzoom {
  @media (min-width:657px) {
    animation: unzoom 1s 250ms forwards;
  }
  
}

@keyframes unzoom {
  to {
    transform: scale(1) translateX(0px);
  }
}

.presentation-one {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  @media (max-width: 992px) {
    top: -47px;
    
  }
}



.separator {
  width: 50%;
  height: 50px;
  background-image: radial-gradient(
      circle at 67% 83%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 1%,
      transparent 1%,
      transparent 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 80%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 27%,
      transparent 27%,
      transparent 63%,
      transparent 63%,
      transparent 100%
    ),
    radial-gradient(
      circle at 23% 5%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 26%,
      transparent 26%,
      transparent 82%,
      transparent 82%,
      transparent 100%
    ),
    radial-gradient(
      circle at 21% 11%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 35%,
      transparent 35%,
      transparent 45%,
      transparent 45%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 11%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 21%,
      transparent 21%,
      transparent 81%,
      transparent 81%,
      transparent 100%
    ),
    radial-gradient(
      circle at 19% 61%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 20%,
      transparent 20%,
      transparent 61%,
      transparent 61%,
      transparent 100%
    ),
    radial-gradient(
      circle at 13% 77%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 63%,
      transparent 63%,
      transparent 72%,
      transparent 72%,
      transparent 100%
    ),
    radial-gradient(
      circle at 30% 93%,
      rgba(230, 230, 230, 0.16) 0%,
      rgba(230, 230, 230, 0.16) 33%,
      transparent 33%,
      transparent 82%,
      transparent 82%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(29, 107, 252), rgb(29, 107, 252));
  background-attachment: fixed;
  margin: auto;
  bottom: 0;
  transform: left;
  transform: scaley(0);
  transform-origin: left;
  transition: 1s 500ms;
  @media (max-width: 992px) {
    width: 90%;
  }
}

.presentation-one-text {
  margin: auto;
 
  width: 50%;
  position: relative;

  height: 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  & p {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding: 10px;
    
  }
  @media (max-width:1200px) {
   width: 60%;
  }
  @media (max-width: 992px) {
    width: 90%;
  }
}



.presentation-two {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 100px;
}

.presentation-two__top {
  margin-bottom: 50px;
  & p {
    bottom: 150px;
    width: 50%;
    margin: auto;

    text-align: center;

    padding: 10px;

    transition: 200ms;
    @media (max-width:1200px) {
      width: 60%;
     }
     @media (max-width: 992px) {
      width: 90%;
    }
  }
}

.presentation-two__bottom {
  height: 190px;
  width: 100%;
  background-color: $color-primary;
  z-index: 1;
}



#presentation-language {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 96px;
  color: white;
  transition: 100ms 220ms;
}










@keyframes luigi-box-anim {
  49% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateY(-8px) translateX(-50%);
  }
  51% {
    transform: translateX(-50%);
  }
}
@keyframes luigi-anim {
  0% {
    transform: translateX(0);
  }
  47% {
    transform: translatex(201px);
  }
  50% {
    transform: translateX(233px) translateY(-32px);
  }
  53% {
    transform: translateX(265px) translateY(0px);
  }
  100% {
    transform: translatex(464px);
  }
}


// partie presentation detail
.presentation-animation {
  width: 500px;
  height: 300px;
 
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 25px;
  border-radius: 6px;
}

.animation-background {
  display: flex;
  height: 100%;
  animation: scroll 10s linear infinite;
  position: absolute;
  top: -40px;
}

#buddy {
  position: absolute;
  bottom: 0;
  left: 0;
  
}

#detail {
  position: absolute;
  left: 500px;
  bottom: 30px;
  padding:20px;
  border-radius: 6px;
  border: solid 2px black;
  background-color: rgb(219, 131, 131);
  animation: move 1s linear infinite;
  & ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    width: 150px;
    text-align: center;
  }
  &:before {
      content: " ";
      position: absolute;
      width: 60%;
      height: 40px;
      left: 50%;
      bottom: -40px;
      transform: translateX(-50%);
      border-left: 3px solid black;
      border-right: 3px solid black;
      animation: jambes 1s linear infinite;
  }
}

#eye-one {
height: 10px;
width: 7px;
border-radius: 50%;
position: absolute;
left: 25%;
top: 5px;

border-top: 3px solid black;
animation: eyes 1s infinite;
}

#eye-two {
    height: 10px;
width: 7px;
border-radius: 50%;
position: absolute;
left: 75%;
top: 5px;
border-top: 3px solid black;
animation: eyes  2s infinite;
}



@keyframes move {
0% {
    transform: translateX(0px);
}
25% {
    transform-origin: bottom;
    transform: translateX(6px) translateY(6px) scaley(0.95) scaleX(1.05);
}
50% {
    transform: translateX(0px);
}
75% {
    transform-origin: bottom;
    transform: translateX(-6px) translateY(6px) scaley(0.95) scaleX(1.05);
}
100% {
    transform: translateX(0px);
}
}

@keyframes jambes {
    0% {
        
        transform: skew(0deg, 0deg) translateX(-50%);
    }
    25% {
        transform-origin: bottom;
        transform: skew(-6deg, 0deg) translateX(calc(-50% - 6px)) scaleY(0.95);
    }
    50% {
        transform: skew(0deg, 0deg) translateX(-50%);
    }
    75% {
        transform-origin: bottom;
        transform: skew(6deg, 0deg) translateX(calc(-50% + 6px))  scaleY(0.95);
    }
    100% {
        transform: skew(0deg, 0deg) translateX(-50%);
    }
}

@keyframes scroll {
  0% {
    transform: translatex(00%);
  }
  100% {
    transform: translatex(-50%);
  }
}
