#projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        #e6e6e6 50%,
        white 50%
    );

    width: 100%;
    margin-top: 80px;
    min-height: 100vh;
    position: relative;
   overflow: hidden;
   transform: translateY(-100%);
   animation: start 500ms forwards;
    & h2 {
        font-size: 2em;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
    }
    & p {
        margin-bottom: 30px;
        font-family: 'Raleway', sans-serif;
    }
    
}

.projet-header__container {
    position: relative;
    
    display: flex;
    width: 80%;
    padding: 20px;
    white-space: nowrap;
    
    background-color: white;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-100%);
    animation: start 500ms 300ms forwards;
}

.projet-header {
    font-size: 3rem;
    font-family: "Inter",sans-serif;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 992px) { 
        font-size: 2.5rem; 
      }
      @media (max-width: 576px) { 
        font-size: 1.5em; 
      }
}

.projet-image__container {
    width: 40%;
    height: auto;
    z-index: 1;

    overflow: hidden;
    & img {
        transform: translateY(100%);
        width: 100%;
        animation: start 500ms 200ms forwards;
       
    }
    @media (max-width: 992px) { 
        width: 90%;
      }
}



.projet-context__container, .projet-description__container, .projet-link__container {
    text-align: center;
    width: 40%;
    z-index: 1;
    background-color: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: 992px) { 
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
      }
}


.projet-context__container h2, .projet-description__container h2, .projet-link__container h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.projet-context__container {
    
    margin-top: 100px;
    opacity: 0;
    transform: translateY(-50%);
    animation: start 500ms 200ms forwards;
    @media (max-width: 992px) { 
        margin-top: 20px;
      }
}



.projet-next {
    position: absolute;
    right: 0;
    top: 10px;
    padding:10px;
    & a {
        color: black;
    }
}

.projet-previous {
    position: absolute;
    left: 0;
    top: 10px;
    padding:10px;
    & a {
        color: black;
    }
}


#particle-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.particle {
	position: absolute;
 	border-radius: 50%;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(180) * 1vh), (random(100) * 1px));
		background: hsl(random(360), 70%, 50%);
	}
}