.contact-form-container {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 700px;
  & h3 {
    margin-top: 200px;
    font-size: 3em;
    z-index: 1;
    margin-right: 30px;
  }
  @media (max-width:992px) {
    width: 100%;
  }
}

#contact-form {
  width: 80%;
  position: relative;
  height: 200px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2em;
  z-index: 1;
  @media (max-width:992px) {
    position: relative;
    top:0;
    left:0;
    width: 100%;
    font-size: 1.5em;
  }
}

.contact-background {
  position: absolute;
  height: 640px;
  z-index: 0;
  top: 100px;
  left: -100px;
  overflow: hidden;
  @media (max-width:992px) {
    width: 100%;
    height: 640px;
    left: 0;
  }
}

.label-container {
  position: absolute;
  overflow: hidden;
  height: 200px;
  width: 100%;
  right: 0;
  margin-right: 30px;
  & input {
    border: none;
    background-color: transparent;
    padding-bottom: 5px;
    border-bottom: black solid 1px;
    width: 100%;
    outline: none;
    font-size: 1em;
  }
  & textarea {
    border: none;
    background-color: transparent;
    padding-bottom: 15px;
    border-bottom: black solid 1px;
    width: 100%;
    resize: none;
    font-size: 1em;
    outline: none;
  }
  
}

.contact-form__one, .contact-form__two, .contact-form__three, .contact-form__four {
    transition: 200ms ease-out;
}

.contact-form__one {
  position: absolute;
  height: 100%;
  position: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
}
.contact-form__two {
  position: absolute;
  top: 200px;
  right: 0;
}
.contact-form__three {
  position: absolute;
  top: 400px;
  right: 0;
  width: 90%;
}
.contact-form__four {
  position: absolute;
  top: 600px;
  width: 348px;
  right: 0;
  display: flex;
  justify-content: center;
}
.contact-form__five {
  top:800px;
  position: absolute;
  transition: 200ms ease-out;
}


.contact-button {
  position: absolute;
  right: 0;
  height: 70%;
  width: 30px;
}
