.contact-form-container {
  width: 600px;
  height: 700px;
  background-color: rgba(29, 107, 252, 0.7);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 50px;
  margin-top: 150px;
  z-index: 2;

  & h3 {
    position: absolute;
    font-size: 2.53em;
    z-index: 1;
    right: 45px;
    top: 20px;
    color: white;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (max-width:768px) {
    width: 100%;
    margin-left: 0px;
    background-color: rgba(29, 107, 252, 0.5);
  }
}

#contact-form {
  width: 90%;
  position: absolute;
  height: 500px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2em;
  z-index: 1;
  background-color: rgba(230, 230, 230, 0.8);
  top: 125px;
  left: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  & label {
    display: flex;
    flex-direction: column;

    & span {
      color: #6c6b6b;
      font-size: 0.7em;
      text-transform: uppercase;
    }
  }
  & input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
  & input {
    outline: none;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid 1px #6c6b6b;
    background-color: transparent;
    font-size: 1em;
    /* Change the white to any color */
    
    &:focus {
      padding-bottom: 9px;
      border-bottom: solid 2px #6c6b6b;
    }
  }
  & textarea {
    outline: none;
    resize: none;
    border: none;
    padding-bottom: 10px;
    border-bottom: solid 1px #6c6b6b;
    background-color: transparent;
    font-size: 1em;
    &:focus {
      padding-bottom: 9px;
      border-bottom: solid 2px #6c6b6b;
    }
  }
  @media (max-width:768px) {
   left: 50%;
   transform: translateX(-50%);
  }
}

#label-firstname {
  padding-right: 10px;
  padding-left: 10px;
  width: 49%;
}

#label-lastname {
  padding-right: 10px;
  padding-left: 10px;
  width: 49%;
}

#label-email {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

#label-message {
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

#contact-buttons {
  position: absolute;
  bottom: -50px;
  left: 200px;
  width: 100%;
  height: 40px;
}
