.presentation {
  position: relative;
  height: 1500px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 70px;
  background-color: white;
  overflow: hidden;
  font-family: 'Varela', sans-serif;
  & h2 {
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    width: 100%;
  }
  
}





.presentation-one {
  height: 240px;
  width:100%;
  position: relative;
  z-index: 1;
  & p {
 
    padding: 20px;
    color: white;
    height: 100%;
    background-color: $color-primary;
    width: 100%;
    position: relative;
    font-size: 1.5em;
    left: -20%;
    padding-left: 400px;
  }
}

.presentation-one__img {
  position: absolute;
  height: 260px;
  left: calc(80% - 7px);
  bottom: 0;
  & img {
    height: 100%
  };
  
}

.presentation-two {
 height: 600px;
  width:100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  

  & p {
   position: absolute;
   left: 40%;
   width: 50%;
   top:50%;
   transform: translateY(-50%);
   &:hover ::after {
     
     transform: scaleX(1.25);
   }
   & ::after {
     content: "";
     position: absolute;
     height: 2px;
     width: 25%;
     background-color: black;
     bottom: -10px;
     right: 0;
     transition: 200ms;
     transform-origin: right;
   }
  }
  & span {
    font-size: 2em;
  }
}

.presentation-hello {
  
  position: absolute;
  left: 50px;
  height: 450px;
  overflow: hidden;
 z-index: 0;
 top: 10%;
 
}
