.realisations-list {
  height: 400px;
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;
}

.realisation {
  width: 700px;
  overflow: hidden;
  height: 400px;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  filter: grayscale(80%);
  &:hover {
    flex: 5;
    filter: grayscale(00%);
    cursor: pointer;
  }
}

.realisations-container {
  position: relative;
}

.realisation-click {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: #e6e6e6;
  font-style: italic;
}

#realisation-name {
  margin: auto;
  font-size: 3em;
  font-family: "Inter", sans-serif;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

#realisation-description {
  height: 200px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  color: white;
  font-size: 1.5em;
  z-index: 1;
  text-align: center;
}

#realisation-letter {
  position: absolute;
  font-size: 20em;
  bottom: -24px;
  left: 50%;
  color: #e6e6e626;
  transform: translateX(-50%);
  z-index: -1;
  transition: 200ms;
}
