@import "./utils/variables";
@import "./components/navigation";
@import "./components/accueil";
@import "./utils/button";
@import "./components/presentation";
@import "./components/contact-form";
@import "./components/realisation";
@import "./components/contact";
@import "./components/realisation-intro";
@import "./components/contact-intro";
@import "./utils/appear";
@import "./components/projet";
@import "./components/comments";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {


}

