@import "./utils/variables";
@import "./components/navigation";
@import "./layouts/accueil";
@import "./utils/button";
@import "./layouts/presentation";
@import "./components/contact-form";
@import "./layouts/realisations";
@import "./layouts/contact";
@import "./components/intro";
@import "./utils/appear";
@import "./pages/projet";
@import "./components/comments";
@import "./layouts/creations";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


