.appear-scroll {
    opacity: 0;
    transform: translateY(25%);
    transition: 700ms 200ms;
}


.appear {
    opacity: 1;
    transform: translateY(0%);
  
}

@keyframes start {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.appear-left {
    transform: scaleX(1) ;
}

@keyframes image-load {
    to {
        transform: translateX(100%);
    }
}


.appear-title-a {
    animation: appear-a 1s 200ms forwards;
}

.appear-text-a {
    animation: appear-a 500ms 400ms forwards;
}

.appear-photo-a {
    animation: image-load 2s 200ms forwards;
}

@keyframes appear-a {
    to {
        opacity: 1;
        transform: translatex(0px) translateY(0px)
    }
}

.appear-title {
    position: absolute;
    left: 40%;
    top: -80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.8rem;
    font-weight: 800;
    text-transform: uppercase;
    transform: translateY(50%);
    opacity: 0;
    @media (max-width:768px) {
      left:20%
    }
    @media (max-width:576px) {
      font-size: 3rem;
      left: 30%;
    }
  }

  .photo__background {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 200%;
    left: 0;
    top: 0;
    transform: translateX(-101%);
    
  }